/* GENERAL SETTINGS */
body {
    font-family: 'Lato', sans-serif;
    background-color: white;
    font-size: 14px;
    font-weight: 28px;
}

.h1caption {
    font-size: 52px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.sectionHeader {
    background-color: #F29F05;
    border-bottom: 6px solid black;
    /*aşağıdan 6 piksellik solid bir kenarlık verdim ve rengini siyah yaptım*/
    height: 60px;
    color: white;
    /*Text rengi*/
    display: inline-block;
    /*Ekranın tamamını kaplamasını istemediğimden bu komutu verdim.*/
    line-height: 60px;
    /*Texti içeride ortaladım.*/
    font-size: 24px;
    padding: 5px 40px;
    /*Aşağıdan yukarıdan 5 piksel sağdan ve soldan ise 40 piksel boşluk verdim.*/
    letter-spacing: 1px;
    /*harfler araasında 1 piksellik boşluk oluşturdum.*/
    margin-bottom: 20px;
}

h3 {
    font-size: 16px;
    color: #8C0303;
    text-transform: capitalize;
    font-weight: 900;
}

.item:hover h3 {
    font-weight: 600;
    transition: all .2s ease;
}

.sectionArea {
    padding: 80px 0;
    /*sectionlar arası 80px lik yukarıdan aşağıya boşluk verdim sağ sol 0*/
}

.yemeicmeBody .container {
    justify-content: space-between;
}

.kolon3 {
    flex-grow: 1;
    /*3 Yemeğinde bulunduğu sütünların hepsi eşit olsun demektir.*/
    width: 33.33%;
    /*3 adet yemek resmi var kolonu eşit olması için 3 e böldüm %33.33 olur*/
    /*aslında en sağdaki sütun büyük kaldı nedeni ise aşağıdaki resimlerin yatay scroll oluşturmasıydı aşağıdakileri düzenleyince buda düzelecektir.*/
}

.kolon2 {
    flex-grow: 1;
    /*3Yemek ve kahvenin bulunduğu sütünlar birbirlerine eşit olsun dedim.*/
    width: 50%;
    /*İki resim olduğunda 50% olarak verdim*/
    padding: 20px;
}

.featuresTop {
    text-align: center;
}


/* GRID SETTINGS */
.container {
    margin: 0 auto;
    /*containerı ortaladım*/
    width: 90%;
    display: flex;
}

/* HOME SETTINGS */
header {
    background-color: rgba(227, 189, 50, 0.29);
}

header .logo {
    margin-right: auto;
    /*Logo sağa kaydı*/
}

.menu li {
    float: left;
}

.menu li a {
    padding: 27px 17px;
    /*yukarıdan ve aşağıdan 27 piksel, sağdan ve soldan ise 17 piksel boşluk verdim*/
    display: block;
    /*a elementlerini block yapmasaydım 27 piksel çalışmazdı*/
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    color: black;
    transition: all .5s;
    /*LİNKLER ARASINDA GEÇİŞ EFEKTİ VERDİM (YARIM SANİYE)*/
}

.menu li:hover a {
    background-color: rgba(209, 168, 65, 0.3);
    border-radius: 10px;
}

#mainSlider {
    height: 500px;
    background-image: url(../Images/Bg\ 3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.slider {
    width: 100%;
}

#mainCaption {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.429);
    /* siyah rengi .5 ile parlaklığını düşürdüm*/
}

.caption {
    display: flex;
    flex-direction: column;
    /*Sütün olarak sırala dedim*/
    align-items: center;
    justify-content: center;
    color: goldenrod;
}

.featuresBody .container {
    justify-content: space-between;
}


.item {
    padding: 10px 20px;
    /*Aşağıdan yukarıdan 10 piksel sağdan ve soldan ise 20 piksel boşluk verdim.*/
}

.yakin {
    position: relative;
    /*nesneni kendine ait bir alanı olsun dedim*/
    overflow: hidden;
    /*yakin classının üzerine gelice çalıştıracağımdan simdilik gizledim */
    display: inline-block;
    /*Ekranın tamamını kaplamasını istemediğimden bu komutu verdim.*/
    width: 100%;
    vertical-align: top;
    /* yukarıdan dikey ortalama yapsın dedim*/
}

.yakin img {
    display: block;
    width: 100%;
    /*resmin tamamının görünebilmesi için genişliğini 100% yaptım.*/
    height: auto;
    /*Genişlik ile yüksekliğin bir biriyle ayarlı olsun diye yüksekliği aouto yaptım.*/
    transition: all .5s ease;
    /*.item:hover .yakin img te uyguladığım yakınlığın birden oluşmasını istemediğimden bu komutu kullandım*/
    /* transition nın çalışma mantığı: tüm özelliklerle yarım saniye de kolay geçiş yaptırmak  */
}


.itemText {
    text-align: center;
    padding: 5px 10px;
    /*Aşağıdan yukarıdan 5 piksel sağdan ve soldan ise 10 piksel boşluk verdim.*/
    border: 1px solid gray;
    /*1 px kenarlık verip rengini gri yaptım */
}

.itemText p {
    padding-bottom: 20px;
}

.item:hover .yakin img {
    /*item sınıfının üzerine gelince yakin sınıfının img etiketine uygula dedim */
    transform: scale(1.25);
    /*uygulanmasını istediğim şey üzerine gelince resimin 1.25 oranda büyümesi*/
}

.item:hover h3 {
    color: #023373;
}

.item:hover .itemText {
    background-color: #F29F05;
    color: #8C0303;
    transition: all .5s ease;
}

.item .btnDetails {
    padding: 3px 3px;
    color: black;
    text-decoration: none;
    transition: all .5s ease;
}

.item:hover .btnDetails {
    color: #8C0303;
    font-weight: bold;
    border: 1px solid #8C0303;
    border-radius: 3px;
}

/* Parallax */
#parallax {
    background-image: url(../Images/parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    text-align: center;
}

#parallax p {
    color: #023373;
}

/* YEME İÇME */

.yemeicmeidTop {
    text-align: center;
}

.yemeicmeimg {
    position: relative;
    width: 100%;
}

.resimover {
    display: block;
    width: 100%;
    height: auto;
}

.yemeicmeoverlay {
    /*yandan kaydırma efekti*/
    background-color: #f29f0529;
    position: absolute;
    /*absolute yani mutlak olarak gelsin dedim */
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 0%;
    /* nesnem aslında burada var ama hover yapınca görünsün istiyorum bu yüzden 0 verdim*/
    height: 100%;
    transition: all .5s ease;
}

.yemeicmeimg:hover .yemeicmeoverlay {
    width: 100%;
    /*Nesnemi görünür yaptım.*/
}

.yemeicmeText {
    white-space: nowrap;
    /*Text açılıp kapanınca alt alta yazılmasını engeller.*/
    font-size: x-large;
    text-align: center;
    font-weight: 500;
    position: absolute;
    /*Texti ortalamak için mutlak ı seçtim*/
    top: 50%;
    /*Yukarıdan %50 boşluk bıraktım*/
    left: 50%;
    /*Soldan %50 boşluk bıraktım*/
    /* Yukarıdan ve soldan boşluk bırakınca text tam olarak ortalanmadı bunun çözümü içinde
transform:translate i kullandım. -50% x ekseninde, -50% de y ekseninde geriye kaydır dedim */
    transform: translate(-50%, -50%);
    color: white;
}


.yemeicmeoverlay2 {
    /*yandan kaydırma efekti 2*/
    background-color: rgba(0, 100, 0, 0.2);
    position: absolute;
    /*absolute yani mutlak olarak gelsin dedim */
    bottom: 0;
    left: 100%;
    /*sola doğru tamamen ilerlemesini istedim*/
    right: 0;
    overflow: hidden;
    width: 0%;
    /* nesnem aslında burada var ama hover yapınca görünsün istiyorum bu yüzden 0 verdim*/
    height: 100%;
    transition: all .5s ease;
}

.yemeicmeimg:hover .yemeicmeoverlay2 {
    width: 100%;
    /*Nesnemi görünür yaptım.*/
    left: 0;
    /*0 yapmasaydım eğer overlay ekran dışına doğru oluşacaktı*/
}

footer {
    background-color: rgba(227, 189, 50, 0.4);
    text-align: center;
}

.footernesne {
    padding: 20px;
}

.footernesne li a {
    padding: 10px 10px;
    /*yuraıdan ve aşağıdan 27 piksel, sağdan ve soldan ise 17 piksel boşluk verdim*/
    display: block;
    /*a elementlerini block yapmasaydım 27 piksel çalışmazdı*/
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    color: black;
    transition: all .5s;
    /*LİNKLER ARASINDA GEÇİŞ EFEKTİ VERDİM (YARIM SANİYE)*/
}

.footernesne li img {
    height: 50px;
}

.footernesne li {
    float: left;
}

.footernesne .footerLinks li:hover a {
    background-color: rgba(209, 168, 65, 0.3);
    border-radius: 10px;
}

.footernesne .socialLinks {
    float: right;
    display: inline;
}

.footernesne h3 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: black;
    text-transform: capitalize;
    font-weight: 900;
}

.footernesne img {
    float: inline-start;
}

.socialLinks {
    margin-right: 30px;
}

.footernesne p {
    color: #0D0D0D;
    line-height: 20px;
    /*satırlar arasında 20 piksellk boşluk oluşturur.*/
}


/* PRODUCT PAGE CSS */
#productSlider {
    height: 250px;
    background-image: url(../Images/Prdc\ 1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#productCaption {
    font-size: 20px;
    height: 250px;
    color: #0D0D0D;
    background-color: rgba(0, 0, 0, 0.3);

}

#productCaption p {
    font-size: 20px;
    color: indianred;
}

/* FOOD SECTION */
#Foodsection {
    background-color: rgba(28, 67, 239, 0.229);
}

.foodTop {
    text-align: center;
}

.foodImage {
    width: 40%;
    /*yazıları resimlerin yanına koymak için resme %40 lık alan verdim.*/
    overflow: hidden;

}

.foodImage img {
    width: 100%;
    height: auto;
}

.foodBody .kolon2 {
    display: flex;
    border-radius: 10px;
}

.foodText {

    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: justify;
    width: 60%;
    padding-left: 10px;
    height: auto;
}

.date {
    color: burlywood;
    font-size: 12px;
    font-style: italic;
    padding-bottom: 25px;
}

.foodText h4 {
    padding-bottom: 5px;
    color: cornflowerblue;
    text-transform: capitalize;
    font-weight: bold;
}

.foodText a {
    color: cornflowerblue;
    text-decoration: none;
    float: right;
}

.foodText a:hover {
    color: papayawhip;
    font-size: 19px;
    font-weight: bold;
    transition: all .5s;
}

.kolon2 img {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.kolon2 .foodImage img:hover {
    transition: all .5s;
    transform: scale(1.25);
    /*uygulanmasını istediğim şey üzerine gelince resimin 1.25 oranda büyümesi*/
}

.detailsTop {
    text-align: center;
}

#details .container-fluid {
    background-image: url(../Images/Bg\ 2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 300px;

}

.captionDetails {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 300px;
    /*bu komutu vermeseydim rgba sadece içeriklerin bulunduğu alanı kaplayacaktı yani resmin tamamına işlenmiyecekti*/
    display: flex;
    /*flex ile Food Name,Ingredients,Flavor, Price ı diğer yazılarla aynı satıra ekledi*/
}

.detailsBlg {
    position: relative;
    /*pozisyonu kendisine göre belirledim*/
    margin-left: 10px;
    top: 50%;
    /*yukarıya oranla %50 aşağıya indirdim*/
    left: 50%;
    /* %50 sola kaydırdım */
    transform: translate(-50%, -50%);
    /* top ve left te yaptığım işlemleri x ekseninde %50, y ekseninde %50 geriye çekip içeriği ortaladım*/
}

.detailsTitle {
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    font-style: italic;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.detailsText {
    color: darkslategray;
    margin-bottom: 20px;

}

.detailsButton {
    background-color: #0D0D0D;
    color: white;
    margin-top: 5px;
    /*5 piksel yukarıdaki yazı ile arasına mesafe koydum*/
    border-radius: 5px;
    padding: 5px 10px;
    /*butonu biraz büyüttüm*/
}

.detailsButton:hover {
    font-weight: bold;
    color: blue;
    transform: scale(1.05);
    transition: all .1s ease;
    border-color: blue;
    /*hover olunca kenarlık rengini mavi yaptım.*/
}

.detailsHighlight {
    display: inline-block;
    /*Sadece Food Name,Ingredients,Flavor, Price ın olduğu alanı seçer*/
    background-color: #F29F05;
    padding: 30px;
}

.container-fluid .kolon2 {
    padding: 0;
    /*Bu komutu vermeseydim Food Name,Ingredients,Flavor, Price yukarıya yapışmayacaktı */
}

.detailsHighlight li {
    color: #8C0303;
    font-size: large;
    font-style: italic;
    text-align: center;
}

#details .detailsTop {
    padding: 10px;
    color: black;
    font-weight: bold;
}

.detailsTop h2 {
    background-color: #023373;
    color: honeydew;
    font-size: 24px;
}


/* ABOUT SECTON */
#aboutSlider {
    border: 20px solid rgba(0, 0, 0, 0.372);
}

#aboutSlider {
    background-image: url(../Images/Slide.jpg);
    opacity: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 350px;
}

.aboutcaption h1,
p {
    text-align: center;
}

.aboutcaption p {
    color: #F2F2F2;
    font-style: italic;
    font-size: 16px;
}

.aboutcaption h1 {
    padding-top: 15px;
}

.aboutcaption img {
    position: static;
    margin: 50px 80px;
    text-align: center;
}

.aboutcaption img:hover {
    transform: scale(1.1);
    transition: all 1s;
    border-radius: 10px;
}

.bioTop {
    text-align: center;
}

.bioTop p {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.bioBody {
    font-size: 15px;
    color: #8C0303;
    display: inline-block;
}

.bioText p {
    word-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    color: black;
    width: 50%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;
}

.bioImage img {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    width: 50%;
    border-radius: 50px;
}

#biosection {
    background-color: rgba(198, 161, 26, 0.30);
}

/* CONTACT SETTINGS */

#contactSlider {
    background-image: url(../Images/Slide.jpg);
    opacity: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 350px;
}

.contactcaption .h1caption {
    text-align: center;
    font-size: 50px;
    padding-top: 150px;
    color: aliceblue;
}

.contactcaption p {
    color: aliceblue;
}

#contactCaption {
    height: 70%;
    background-color: rgba(0, 0, 0, 0.7);
}

textarea {
    resize: none;
    /*Text bölümüne sınır koydum.*/
}

.fdmenuSlider {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.fdmenuTop {
    text-align: center;
}

.fdmenuItem {
    width: 400%;
    /*3 resim koymuştum %400 yaptım çünkü resimlerin yan yana gelmesini istiyorum*/
    position: relative;
    left: 0;
    /*Sağa yaslamak için*/
    animation: slideAnimation 30s infinite;
    /*aşağıda yaptığım animasyonu bunda aktif ettim
    30 saniye olsun ve sürekli devam etsin dedim*/
}

.fdmenuItem img {
    width: 25%;
    /*resimlerin yan yana gelmesi için alan genişliğini küçülttüm 4 resim 100/4 ten*/
    float: left;
    /*resimleri sola yasladım.*/
    height: auto;
}

@keyframes slideAnimation {
    0% {
        left: 0;
    }

    /*Animasyonun başlangıç değeri 0*/
    25% {
        left: -100%;
    }

    /*0-25-50-75-100 zamanın yüzdelik dilimleri*/
    50% {
        left: -200%;
    }

    /*-200% ile bir sonraki resim gelir*/
    75% {
        left: -100%;
    }

    /*-100% olmasının nedeni 3 resim koymuştum tekrar geriye gelmesini istemem*/
    100% {
        left: 0%;
    }

    /*ilk resme dönmek istediğimden 0 verdim*/
}

.contactTop {
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
}

.contactForm {
    margin: 0 auto;
    width: 50%;
}

.formItem {
    margin-bottom: 10px;
    width: 100%;
}

.formShape {
    color: white;
    float: left;
    background-color: #023373;
    /*Yaptığım olay görünsün diye Background verdim*/
    padding: 8px;
    width: 8px;
    text-align: center;
}

.formField {
    color: #8C0303;
    background-color: #F29F05;
    border: none;
    padding: 15px;
    width: 100%;
    /*Bulunduğu alanın tamamını kaplamasını istedim.*/
    display: block;
    font-size: 14px;
}

.formBtn {
    display: block;
    /*Yükseklik ve genişlik verebilmek için block yaptım.*/
    border: none;
    background-color: #F29F05;
    color: #023373;
    padding: 12px 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.formBtn:hover {
    background-color: darksalmon;
}



/* Burdan sonra web sitemin responsive tasarımını yapıyorum. 
960px 720px ve 540px i baz alarak yapıyorum.*/

@media screen and (max-width:960px) {

    /*Chrome ekranını 960 a kadar küçültünce bunları uygula dedim */
    .caption .h1caption {
        font-size: 42px;
        /*Başlığın font büyüklüğünü düşürdüm.*/
        margin: 10px auto;
        /* başlığın hemen altındaki yazının uzzklığını azalttım.*/
    }

    .caption p {
        font-size: small;
    }

    .footernesne h3 {
        font-size: large;
        margin: 0 auto;
        letter-spacing: 0px;
    }

    .footernesne .responsive {
        /* footerdaki Logo boyutu için class oluşturup buraya ekledim.*/
        width: 100px;
        height: auto;
    }

    .footerLinks li a {
        padding: 8px 90px;
    }

    .footernesne p {
        font-size: small;
    }

    .foodTop p {
        text-align: center;
        font-size: medium;
    }

    .foodBody .container {
        flex-direction: column;
        /* conteineri sutun olarak ekrana yaydım.
        ama bu sefer tamamen ekranı kaplamadı*/
    }

    .foodBody .container .kolon2 {
        width: 100%;
        /*conteinerdaki nesnelerin tamamen ekranı kaplaması için yazdım.*/
    }

    .foodText .date,
    p,
    h4 {
        text-align: left;
    }

    .detailsTop p {
        text-align: center;
        font-weight: 100;
        letter-spacing: .5px;
        font-size: 14px;
    }

    .detailsTop h2 {
        font-size: 20px;
    }

    .detailsTop h2:hover {
        /*neden yotto yazısı üzerine gelince*/
        color: antiquewhite;
    }

    .detailsBlg h4 {
        font-size: 20px;
    }

    .detailsBlg p {
        font-size: 16px;
    }

    .aboutcaption h1 {
        font-size: 36px;
    }

    .aboutcaption p {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        font-size: 14px;
    }

    .bioTop h2 {
        padding-bottom: 60px;
        /* Daha şık görünmesi için Ömer ulusal yazısına alttan padding verdim*/
        font-size: 22px;
    }

    .bioTop p {
        text-align: center;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
    }

    .contactcaption .h1caption {
        color: mistyrose;
        font-size: 36px;
    }

    .contactcaption p {
        text-align: center;
        color: mistyrose;
        font-size: medium;
    }

    .fdmenuTop h2 {
        font-size: 18px;
    }

    .fdmenuTop p {
        text-align: center;
        font-size: large;
    }

    .fdmenuBody .container {
        display: none;
        /*lanet slider sıkıntı çıkardığından kaldırdım.*/
    }

    .fdmenuItem img {
        width: 30%;
        height: 80%;
    }

    .contactTop h2 {
        font-size: 22px;
    }

    .contactTop p {
        text-align: center;
        font-size: large;
    }

    .contactForm span {
        display: none;
        /* formda sol küçük resimleri kaldırdım.*/
    }
}

@media screen and (max-width:720px) {
    .container .logo {
        font-size: small;
        text-align: center;
    }

    .container .logo a img {
        width: 70px;
        height: 70px;
    }

    .menu li a {
        width: 80px;
        padding-right: 70px;
    }

    .menu li a:hover {
        background: none;
        /*normalde hover yapınca kutudaki texlerde kayma oluyordu bende bu komut ile hoverı kaldırdım.*/
    }

    .featuresTop h2 {
        font-size: 18px;
    }

    .featuresTop p {
        font-size: 14px;
        text-align: center;
    }

    .featuresBody .kolon3 .item {
        /*3 lü kolonda boşlukları azalttım.*/
        padding-left: 2px;
        padding-right: 2px;
    }

    .caption h1 {
        color: black;
    }

    .parallaxTop h2 {
        font-size: 18px;
    }

    .parallaxTop p {
        text-align: center;
        font-size: 14px;
    }

    .yemeicmeidTop h2 {
        font-size: 18px;
    }

    .yemeicmeidTop p {
        text-align: center;
        font-size: 14px;
    }

    .kolon3 .footernesne ul li a {
        padding-left: 50px;
        /*footerdaki sayfa bağlantılarını ortaladım.*/
    }

    #productCaption h1 {
        font-size: 32px;
    }

    #productCaption p {
        font-size: 16px;
        text-align: center;
    }

    .foodTop h2 {
        font-size: 20px;
    }

    .foodBody .foodText h4 {
        padding-bottom: 20px;
    }

    .detailsTop .sectionHeader {
        font-size: 16px;
    }

    .detailsTop p {
        font-size: large;
    }

    .detailsBlg .detailsTitle {
        font-size: 18px;
    }

    .detailsBlg .detailsText {
        font-size: 16px;
        text-align: center;
        padding-bottom: 25px;
    }

    .aboutcaption h1 {
        color: navajowhite;
        font-size: 32px;
        margin-top: 40px;
        padding: 0px 0px;
    }

    .aboutcaption p {
        color: navajowhite;
        text-align: center;
        font-size: 15px;
    }

    .bioTop .sectionHeader {
        font-size: 20px;
        font-weight: 600;
    }

    .bioTop p {
        font-size: 16px;
    }

    .bioBody .bioText p {
        font-size: medium;
    }


    .bioBody .container-fluid p {
        text-align: justify;
        padding-bottom: 0px;
        padding-top: 60px;
        word-spacing: -0.3px;
    }

    .fdmenuTop h2 {
        display: none;
    }

    .fdmenuTop p {
        display: none;
    }

    .fdmenuBody .container {
        display: none;
        /*lanet slider sıkıntı çıkardığından kaldırdım.*/
    }

    #fdmenusection {
        display: none;
    }

    .fdmenuItem img {
        width: 30%;
        height: 80%;
    }
}


@media screen and (max-width:540px) {
    .container .logo {
        font-size: x-small;
        text-align: center;
    }

    .container .logo a img {
        width: 60px;
        height: 60px;
    }

    .menu li a {
        width: 80px;
        font-size: xx-small;
        padding-right: 70px;
    }

    .menu ul li {
        width: 20%;
        height: auto;
    }

    .caption .h1caption {
        font-size: 30px;
    }

    .caption p {
        text-align: center;
    }

    .featuresTop h2 {
        font-size: 15px;
    }

    .parallaxTop h2 {
        font-size: small;
        font-weight: 600;
    }

    .parallaxTop p {
        font-size: 12px;
    }

    .yemeicmeidTop h2 {
        font-size: 15px;
    }

    .yemeicmeidTop p {
        font-size: small;
    }

    footer .kolon3 {
        width: 40%;
    }

    .footernesne h3 {
        font-size: small;
    }

    .footernesne .responsive {
        width: 80%;
    }

    .footernesne p {
        display: none;
    }

    .footerLinks li a {
        font-size: small;
        width: 40%;
    }

    .kolon3_1 li a {
        display: inline;
    }

    .kolon3_1 ul li {
        display: inline;
        width: 30%;
        padding: 0px 12px;
    }

    #productCaption h1 {
        font-size: larger;
    }

    #productCaption p {
        font-size: small;
    }

    .foodTop h2 {
        font-size: small;
    }

    .foodTop p {
        font-size: small;
    }

    .foodText .date {
        font-size: x-small;
    }

    .foodText h4 {
        font-size: small;
    }

    .foodText p {
        font-size: smaller;
    }

    .foodText a {
        font-size: smaller
    }

    .detailsTop .sectionHeader {
        font-size: small;
    }

    .detailsTop p {
        font-size: smaller;
    }

    .detailsBlg .detailsTitle {
        font-size: small;
    }

    .detailsBlg .detailsText {
        font-size: smaller;
        padding: 0px 5px;
    }

    .detailsBlg button {
        font-size: xx-small;
    }

    .detailsHighlight .detailsList li {
        font-size: smaller;
    }

    #aboutSlider {
        padding: 75px;
    }

    .aboutcaption .h1caption {
        font-size: x-large;
    }

    .aboutcaption p {
        font-size: small;
    }

    .bioTop .sectionHeader {
        font-size: small;
    }

    .bioTop p {
        font-size: small;
    }

    .bioBody .bioText p {
        font-size: small;
        text-align: center;
        padding-top: 50px;
    }

    .contactcaption .h1caption {
        font-size: medium;
    }

    .contactcaption p {
        font-size: small;
    }

    .contactTop .sectionHeader {
        font-size: small;
    }

    .contactTop p {
        font-size: small;
        padding-bottom: 10px;
    }
    .wrapper .contactForm{
        width: 80%;
    }

}

/* text-shadow: red -1px 0, cyan 1px 0; Text e 3D efekti verir. */